# -*- mode: conf; -*-
[Unit]
AssertPathExists=%h/AIL/LEVEL_DB_DATA/2014

[Service]
WorkingDirectory=%h/AIL/LEVEL_DB_DATA/2014
ExecStart=/home/ail/AIL/redis-leveldb/redis-leveldb -H 127.0.0.1 -D %h/AIL/LEVEL_DB_DATA/2014/ -P 2014 -M 13
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
