# -*- mode: conf; -*-
[Unit]
AssertPathExists=%h/AIL/LEVEL_DB_DATA/3016

[Service]
WorkingDirectory=%h/AIL/LEVEL_DB_DATA/3016
ExecStart=/home/ail/AIL/redis-leveldb/redis-leveldb -H 127.0.0.1 -D %h/AIL/LEVEL_DB_DATA/3016/ -P 3016 -M 13
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
